:root {
  --base-color: #333;
  --bg-color: #f9f9f9;
  --light-grey: #eee;
  --main-color: #1a237e;
  --text-slant: 0;
  --text-weight: 500;
  --text-width: 100;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--bg-color);
  color: var(--base-color);
}

@font-face {
  font-family: 'Roboto VF';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/57225/Roboto-VF.woff2') format('woff2-variations');
  font-stretch: 75% 100%;
  font-style: oblique 0deg 12deg;
  font-weight: 100 900;
}

.container {
  font-family: "Roboto VF", "Roboto", sans-serif;
  margin: 0 auto;
  max-width: 60rem;
  padding: 3rem;
  text-align: center;
}

.demo-text {
  color: var(--base-color);
  font-size: 5rem;
  font-stretch: var(--text-width);
  font-style: oblique var(--text-slant);
  font-variation-settings: "wght" var(--text-weight), "wdth" var(--text-width), "slnt" var(--text-slant);
  font-weight: var(--text-weight);
  margin: 0;
}

.controls, .slider-container:not(:first-child) {
  margin-top: 3rem;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.slider-label, .output {
  color: var(--main-color);
  font-size: 1.25rem;
  font-style: normal;
  font-variation-settings: "slnt" var(--text-slant);
  font-weight: 650;
}

.slider {
  appearance: none;
  background: var(--light-grey);
  border-radius: .25rem;
  height: 1rem;
  outline: none;
  width: 100%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: var(--main-color);
  border-radius: 50%;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}

.slider::-moz-range-thumb {
  background: var(--main-color);
  border-radius: 50%;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}

.slider::-moz-range-progress {
  background: var(--main-color);
}

.slider::-webkit-slider-thumb:active, .slider::-moz-range-thumb:active {
  cursor: grabbing;
}
